$tablet: 767px;
$tablet-landscape-upper-bound: 959px;
$tablet-landscape: 1023px;
$laptop-upper-bound: 1279px;
$laptop: 1440px;
$laptop-extra-wide-upper-bound: 1599px;
$fullhd-upper-bound: 1919px;
$ultra-upper-bound: 2559px;

