:root {
  --primary: #d56ba0;
  --btn-text: #ECF0F5;
  --title-gray: #75787B;
  --title-all: #D9DDE3;
  --bg-round-blue: rgb(217, 36, 245);
  --primary-hover: #dd4191;
  --bg-round-brown: #F3B976;
  --title: #D9DDE3;
  --text: #75787B;
  --header-menu-text: #96999E;
  --card-text: #B1B5BA;
  --line: #D9DDE3;
  --bg-elements: #262829;
  --bg: #18191A;
  --bg-form: #75787B;
  --bg-card: #262829;
  --rule-text:#6B6D71;
  --bg-case-card: #333436;
  --head-table:#333436;
  --bg-modal:#090A0B;
  --text-btn-link:#ECF0F5;
  --footer-bg: #000000;
  --error:  rgba(255, 68, 0, 0.83)
}

//.dark-mode {
//  --title: #D9DDE3;
//  --text: #75787B;
//  --header-menu-text: #96999E;
//  --card-text: #B1B5BA;
//  --line: #D9DDE3;
//  --bg-elements: #262829;
//  --bg: #18191A;
//  --bg-form: #75787B;
//  --bg-card: #262829;
//  --rule-text:#6B6D71;
//  --bg-case-card: #333436;
//  --head-table:#333436;
//  --bg-modal:#090A0B;
//  --text-btn-link:#ECF0F5;
//  --footer-bg: #000000;
//}

//.light-mode {
//  --title: #090A0B;
//  --text: #959696;
//  --header-menu-text: #696B6B;
//  --bg-elements: #E6E6E7;
//  --bg-form: #959696;
//  --bg-card: #E6E6E7;
//  --card-text: #5F6060;
//  --line: #090A0B;
//  --bg: #F0F0F0;
//  --rule-text:#B3B3B3;
//  --bg-case-card: #ffffff;
//  --head-table: #DADADA;
//  --text-btn-link:#090A0B;
//  --footer-bg: #ffffff;
//  --bg-modal:#ffffff;
//}
