@font-face {
  font-family: 'CAT';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../assets/fonts/CATLinz.woff') format('woff'),
  url('../../assets/fonts/CATLinz.woff2') format('woff2');
}
