@use "../../../assets/scss/breakpoints" as *;
@use "../../../assets/scss/scale" as *;

.case-card {
  display: flex;
  flex-direction: column;
  a  {
    .case-picture {
      display: block;
      height: 300px;
      width: 100%;
      margin-bottom: 23px;
      @media(min-width: $laptop) {
        margin-bottom:size-decstop(23);
        height:size-decstop(300);
      };
    }
    img {
      object-fit: cover;
      border-radius: 20px;
      height: 300px;
      @media(min-width: $laptop) {
        border-radius:size-decstop(20);
        height:size-decstop(300);
      };
    }
  }
  &__title {
    margin-bottom: 12px;
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: white;
    @media(max-width: $tablet) {
      font-size: 26px;
      line-height: 110%;
    }
    @media(min-width: $laptop) {
      font-size:size-decstop(26);
    };
    @media(min-width: $laptop) {
      margin-bottom: size-decstop(12);
    };
  }
  &__text {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    color: var(--text);
    @media(min-width: $laptop) {
      font-size:size-decstop(16);
    };
  }

}