@use "../../../assets/scss/breakpoints" as *;
@use "../../../assets/scss/scale" as *;

.why-we {
  margin-top: 57px;
  @media(min-width: $laptop) {
    padding-top:size-decstop(96);
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    @media(max-width: $tablet) {
      gap: 24px;
    }
    @media(min-width: $laptop) {
      gap: size-decstop(32);
    }
  }

  &__card {
    padding: 28px 24px 28px 69px;
    border-radius: 20px;
    position: relative;
    width: 100%;
    max-width: 620px;
    background: var(--bg-elements);
    @media(max-width: $tablet) {
      padding: 20px 16px 20px 61px;
    }
    @media(min-width: $laptop) {
      padding-top:size-decstop(28);
      padding-bottom:size-decstop(28);
      padding-left:size-decstop(69);
      padding-right:size-decstop(24);
      max-width:size-decstop(620);
    }
    img {
      position: absolute;
      top: 24px;
      left: 24px;
      width: 20px;
      height: 20px;
      @media(max-width: $tablet) {
        top: 20px;
        left: 16px;
      }
      @media(min-width: $laptop) {
        top: size-decstop(24);
        left: size-decstop(24);
        width: size-decstop(29);
        height: size-decstop(29);
      }
    }

    &-title {
      font-size: 24px;
      line-height: 31px;
      margin-bottom: 12px;
      display: block;
      color:var(--title);
      font-weight: 700;
      @media(max-width: $tablet) {
        font-size: 22px;
        line-height: 28px;

      }
      @media(min-width: $laptop) {
        font-size: size-decstop(24);
        line-height: size-decstop(31);
        margin-bottom: size-decstop(12);
      }
    }
    &-text {
      font-size: 16px;
      line-height: 23px;
      font-weight: 400;
      color: var(--card-text);
      @media(max-width: $tablet) {
        font-size: 16px;
        line-height: 22px;
      }
      @media(min-width: $laptop) {
        font-size: size-decstop(24);
        line-height: size-decstop(31);
      }

    }
  }
}