@use "../../../assets/scss/breakpoints" as *;
@use "../../../assets/scss/scale" as *;

.content {
  padding-top: 96px;
  @media(max-width: $tablet) {
    padding-top: 48px;
  }
  @media(min-width: $laptop) {
    padding-top:size-decstop(96);
  }
  &__title-h2 {
    margin-bottom: 32px;
    font-size:40px;
    font-weight: 700;
    line-height: 48px;
    color:var(--title);
    display: block;
    @media(max-width: $tablet) {
      font-size:30px;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 24px;
    }
    @media(min-width: $laptop) {
      margin-bottom:size-decstop(32);
      font-size: size-decstop(40);
      line-height:size-decstop(48);
    }
  }
  &__title-h3 {
    margin-bottom: 32px;
    font-size:32px;
    font-weight: 700;
    line-height: 38px;
    color:var(--title);
    margin-top: 64px;
    display: block;
    @media(max-width: $tablet) {
      font-size:26px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 24px;
    }
    @media(min-width: $laptop) {
      margin-bottom:size-decstop(32);
      font-size: size-decstop(32);
      line-height:size-decstop(38);
      margin-top: size-decstop(64);
    }
  }
}