@use "../../../assets/scss/breakpoints" as *;
@use "../../../assets/scss/scale" as *;

.header {
  position: fixed;
  top: 20px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 72px;
  z-index: 3;
  @media(max-width: $tablet) {
    padding: 0 12px;
  }
  @media(min-width: $laptop) {
    padding-top:size-decstop(0);
    padding-bottom:size-decstop(0);
    padding-left:size-decstop(72);
    padding-right:size-decstop(72);
    top:size-decstop(20);
  }

  &__wrap {
    background-color: var(--bg);
    max-width: 1296px;
    width: 100%;
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 20px;
    z-index: 1;
    border: 1px solid var(--head-table);
    @media(max-width: $tablet) {
      height: 48px;
      border-radius: 16px;
      padding: 0 20px;
    }
    @media(min-width: $laptop) {
      padding-top:size-decstop(0);
      padding-bottom:size-decstop(0);
      padding-left:size-decstop(30);
      padding-right:size-decstop(30);
      max-width: size-decstop(1296);
      border-radius:size-decstop(20);
      height: size-decstop(56);
    }
  }

  &__logo {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: var(--title);
    @media(min-width: $laptop) {
      font-size: size-decstop(20);
      line-height: size-decstop(24);
    }
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    color: var(--header-menu-text);
    font-weight: 600;
    @media(min-width: $laptop) {
      gap: size-decstop(24);
    }

    &__list {
      display: flex;
      gap: 24px;
      margin-left: 24px;
      @media(min-width: $laptop) {
        gap: size-decstop(24);
        margin-left: size-decstop(24);
      }
    }

    &__item {
      font-size: 14px;
      font-weight: 700;
      line-height: 19px;
      color: var(--header-menu-text);
      cursor: pointer;
      &:hover {
        color:var(--title);
      }
      @media(min-width: $laptop) {
        font-size: size-decstop(14);
        line-height: size-decstop(19);
      }
    }

    @media(max-width: $laptop-upper-bound) {
      display: none;
    }
  }
  .lang-switcher {
    display: inline-flex;
    gap: 8px;
    margin-left: auto;
    @media (min-width: $laptop-upper-bound) {
      margin-left: 24px;
      margin-right: 0;
    }
    @media(min-width: $laptop) {
      gap:size-decstop(8);
      margin-left: size-decstop(24);
    }
     button {
      background: transparent;
      border: 1px solid rgba(255,255,255,0.4);
      color:rgba(255,255,255,0.4);
      padding: 4px 8px;
       font-size: 13px;
      cursor: pointer;
      transition: .4s;
      @media(min-width: $laptop) {
        padding:size-decstop(4) size-decstop(8);
        font-size:size-decstop(13);

      }
    }
    button.active {
      border-color: #fff;
      color: #fff;
    }
  }
  &__btn-go-home {
    @media (max-width: $tablet) {
      font-size: 13px;
      line-height: 110%;
      padding: 6px !important;
      margin-left: 0;
    }
    margin-left: 24px;
    @media(min-width: $laptop) {
      margin-left:size-decstop(24);
    }
  }
}

.header-btn {
  padding: 10px 20px !important;
  font-size: 16px;
  line-height: 20px;
  border-radius: 12px;
  margin-left: auto;
  @media(max-width: $tablet) {
    height: 48px;
    border-radius: 16px;
  }
  @media(max-width: $tablet-landscape) {
    display: none !important;
  }
  @media(min-width: $laptop) {
    font-size: size-decstop(16);
    padding:size-decstop(10) size-decstop(20) !important;
    line-height: size-decstop(20);
    border-radius: size-decstop(12);
  }
}

.menu-icon-wrap {
  display: none;
  @media(max-width:$tablet-landscape){
    display: block;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    height: 100%;
    margin-left: 24px;
  }
}
.menu-icon {
  position: relative;
  width: 24px;
  height: 2px;
  background-color: var(--title);
  border-radius: 5px;
  display: block;
  cursor: pointer;

  &::before {
    position: absolute;
    left: 0;
    top: -8px;
    content: '';
    width: 24px;
    height: 2px;
    background-color: var(--title);
    border-radius: 5px;
    transition: top 0.2s ease-in, top 0.2s linear 0.2s;
    pointer-events: none;
  }

  &::after {
    position: absolute;
    left: 0;
    top: 8px;
    content: '';
    width: 24px;
    height: 2px;
    background-color: var(--title);
    border-radius: 5px;
    transition: top 0.2s ease-in, top 0.2s linear 0.2s;
    pointer-events: none;
  }
  &.active {
    background:transparent !important;
  }
  &.active::before {
    background: var(--title);
    transform:rotate(45deg);
    top:0;
    transition:top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  &.active::after {
    background: var(--title);
    transform:rotate(-45deg);
    top:0;
    transition:top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
}
